RemoteAccessTool XS/app/src/main/resources/RemoteServerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://xs.remoteaccesstool/" name="RemoteServerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://xs.remoteaccesstool/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://xs.remoteaccesstool/" schemaLocation="RemoteServerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getProcessList">
    <part name="parameters" element="tns:getProcessList"/>
  </message>
  <message name="getProcessListResponse">
    <part name="parameters" element="tns:getProcessListResponse"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="systemReboot">
    <part name="parameters" element="tns:systemReboot"/>
  </message>
  <message name="systemRebootResponse">
    <part name="parameters" element="tns:systemRebootResponse"/>
  </message>
  <message name="systemShutDown">
    <part name="parameters" element="tns:systemShutDown"/>
  </message>
  <message name="systemShutDownResponse">
    <part name="parameters" element="tns:systemShutDownResponse"/>
  </message>
  <message name="screenshot">
    <part name="parameters" element="tns:screenshot"/>
  </message>
  <message name="screenshotResponse">
    <part name="parameters" element="tns:screenshotResponse"/>
  </message>
  <portType name="RemoteServer">
    <operation name="getProcessList">
      <input wsam:Action="http://xs.remoteaccesstool/RemoteServer/getProcessListRequest" message="tns:getProcessList"/>
      <output wsam:Action="http://xs.remoteaccesstool/RemoteServer/getProcessListResponse" message="tns:getProcessListResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://xs.remoteaccesstool/RemoteServer/getProcessList/Fault/IOException"/>
    </operation>
    <operation name="systemReboot">
      <input wsam:Action="http://xs.remoteaccesstool/RemoteServer/systemRebootRequest" message="tns:systemReboot"/>
      <output wsam:Action="http://xs.remoteaccesstool/RemoteServer/systemRebootResponse" message="tns:systemRebootResponse"/>
    </operation>
    <operation name="systemShutDown">
      <input wsam:Action="http://xs.remoteaccesstool/RemoteServer/systemShutDownRequest" message="tns:systemShutDown"/>
      <output wsam:Action="http://xs.remoteaccesstool/RemoteServer/systemShutDownResponse" message="tns:systemShutDownResponse"/>
    </operation>
    <operation name="screenshot">
      <input wsam:Action="http://xs.remoteaccesstool/RemoteServer/screenshotRequest" message="tns:screenshot"/>
      <output wsam:Action="http://xs.remoteaccesstool/RemoteServer/screenshotResponse" message="tns:screenshotResponse"/>
    </operation>
  </portType>
  <binding name="RemoteServerPortBinding" type="tns:RemoteServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getProcessList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="systemReboot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="systemShutDown">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="screenshot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RemoteServerService">
    <port name="RemoteServerPort" binding="tns:RemoteServerPortBinding">
      <soap:address location="http://localhost:9000/remote"/>
    </port>
  </service>
</definitions>

